@media screen and (min-width: 992px) {
  body {
    background-color: #e5e5e5;
    font-family: Poppins, sans-serif;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    text-decoration-line: none;
  }

  .flex-item1,
  .shape,
  .item,
  .flex-item2,
  .mobile-item,
  .mobile {
    display: none;
  }

  .desktop {
    position: fixed;
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    text-align: center;
    padding: 1em;
    background-color: white;
    justify-content: space-between;
  }

  .all-item a {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
    color: #6070ff;
    margin-left: 150px;
    float: right;
  }

  .desk-item {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
  }

  .desk-item a {
    padding-right: 20px;
    color: #344563;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    transition: color 2s;
  }

  .social-icon a {
    font-size: 2em;
    color: #344563;
  }

  .works-flex-pop span a {
    text-decoration: none;
    font-weight: bolder;
    color: #acb7c3;
    font-size: 20px;
    padding-right: 20px;
  }

  .headline-section {
    background-image: url("../images/Header_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: white;
    display: flex;
    height: 620px;
    flex-direction: column;
    padding: 300px 200px 50px 250px;
    margin-bottom: 120px;
    border-bottom-left-radius: 100px;
  }

  .headline-section h1 {
    color: #091e42;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
  }

  .headline-section p {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .social-icon {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 1px;
    margin: 1px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    margin: 30px 15%;
    width: 70%;
    align-items: center;
    gap: 80px;
  }

  .card {
    display: flex;
    width: 330px;
    flex-direction: row;
    border: 1px solid rgb(223 220 220);
    border-radius: 15px;
    height: 550px;
    background-color: #fff;
  }

  .card-img {
    padding: 8px;
    width: 50px;
  }

  .card-contents {
    width: 280px;
  }

  .card-head {
    color: #1b1a1a;
    margin-top: 240px;
    font-weight: 900;
  }

  .list li {
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    color: #73777e;
  }

  #canopy {
    color: #0f0f0f;
  }

  .paragraph {
    color: #73777e;
    line-height: 20px;
    font-size: 16px;
    width: 100;
  }

  .languages li {
    color: #6070ff;
    margin: 10px 1%;
    padding: 8px;
    display: inline-block;
    background-color: #ebebff;
    border: none;
    border-radius: 8px;
  }

  .btn {
    background: white;
    border: 1px solid;
    width: 120px;
    height: 45px;
    border-radius: 8px;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
  }

  .btn:hover {
    color: white;
    background-color: #6070ff;
  }

  .btn a:hover {
    color: white;
  }

  .fa:hover {
    transform: rotate(45deg);
    animation-name: size;
    animation-duration: 1s;
  }

  @keyframes size {
    0% {
      font-size: 1em;
      color: red;
    }

    50% {
      font-size: 4em;
      color: blue;
    }

    100% {
      font-size: 7em;
      color: black;
    }
  }
}
