@media screen and (min-width: 992px) {
  body {
    background-color: #e5e5e5;
    font-family: Poppins, sans-serif;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    text-decoration-line: none;
  }

  .flex-item1,
  .shape,
  .item,
  .flex-item2,
  .mobile-item,
  .mobile {
    display: none;
  }

  .desktop {
    position: fixed;
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    text-align: center;
    padding: 1em;
    background-color: white;
    justify-content: space-between;
  }

  .all-item a {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
    color: #6070ff;
    margin-left: 150px;
    float: right;
  }

  .desktop-item {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
  }

  .desktop-item a {
    padding-right: 20px;
    color: #344563;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    transition: color 2s;
  }

  .social-icon a {
    font-size: 2em;
    color: #344563;
  }

  .works-flex-pop span a {
    text-decoration: none;
    font-weight: bolder;
    color: #acb7c3;
    font-size: 20px;
    padding-right: 20px;
  }

  .headline-section {
    background-image: url("../image/Header_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 95%;
    background-color: white;
    display: flex;
    height: 470px;
    flex-direction: column;
    padding: 300px 200px 50px 250px;
    margin-bottom: 120px;
    border-bottom-left-radius: 100px;
  }

  .headline-section h1 {
    color: #091e42;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    margin-top: -30px;
  }

  .headline-section p {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 1em;
  }

  .content-paragraph{
    color: #344563;

  }

  .connect{
    color: #7F8CFF;

  }

  .social-icon {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 1px;
    margin: 1px;
  }

  .card-works{
    background-color: #E5E5E5;
    margin-bottom: 7em;
  }

  .card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #DFE1E6;
    border-radius: 24px;
    width: 75vw;
    height: 53vh;
    margin: 0 10em 6em 10em;
  }

  .card-image{
    border-radius: 8px;
    width: 50%;
    background-repeat: no-repeat;
    background-size: 90% 45%;
    padding: 1em;
    height: 50em;
    margin: 1em;
    margin-left: 1em;
    
  }

  .card-image1{
    background-image: url("../image/Snap3.png");
  }

  .card-image2{
    background-image: url("../image/Snap2.png");
  }

  .card-image3{
    background-image: url("../image/Snap1.png");
  }

  .card-image4{
    background-image: url("../image/Snap4.png");
  }

.card-content {
  padding-left: 1em;
  position: relative;
  right: 2em;
  top: -12em; 
}

.card-header {
  color: #1b1a1a;
  margin-top: 240px;
  font-weight: 900;
}

.card-content ul{
  margin-left: -2.4em;
}

.list li {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #73777e;
  margin-right: 1.2em;
}

.canopy {
width: 75px;
height: 24px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #344563;
}

.fa-circle{
  color: #C1C7D0;
}

.paragraph {
  color: #73777e;
font-size: 16px;
line-height: 24px;
letter-spacing: 0em;
text-align: left;


}

.content-paragraph{
  font-size: 16px;
}


.languages li {
  color: #6070ff;
  margin: 10px 1%;
  padding: 0.8em;
  display: inline-block;
  background-color: #ebebff;
  border: none;
  border-radius: 8px;
  list-style-type: none;
}

}



