@media screen and (min-width: 992px) {
  body {
    background-color: #e5e5e5;
    font-family: Poppins, sans-serif;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    text-decoration-line: none;
  }

  h1:hover {
    animation-name: scalehead;
    animation-duration: 2s;
  }

  @keyframes scalehead {
    0% {
      font-size: 48px;
    }

    50% {
      font-size: 52px;
      color: #6070ff;
    }

    100% {
      font-size: 48px;
      color: #091e42;
    }
  }

  .flex-item1,
  .shape,
  .item,
  .flex-item2,
  .mobile-item,
  .mobile {
    display: none;
  }

  .desktop {
    position: fixed;
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    text-align: center;
    padding: 1em;
    background-color: white;
    justify-content: space-between;
  }

  .all-item a {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
    color: #6070ff;
    margin-left: 150px;
    float: right;
  }

  .desktop-item {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
  }

  .desktop-item a {
    padding-right: 20px;
    color: #344563;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    transition: color 2s;
  }

  .social-icon a {
    font-size: 2em;
    color: #344563;
  }

  .works-flex-pop span a {
    text-decoration: none;
    font-weight: bolder;
    color: #acb7c3;
    font-size: 20px;
    padding-right: 20px;
  }

  .headline-section {
    background-image: url("../image/Header_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 95%;
    background-color: white;
    display: flex;
    height: 470px;
    flex-direction: column;
    padding: 300px 200px 50px 250px;
    margin-bottom: 120px;
    border-bottom-left-radius: 100px;
  }

  .headline-section h1 {
    color: #091e42;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    margin-top: -30px;
  }

  .headline-section p {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 1em;
  }

  .connect {
    color: #7f8cff;
  }

  .social-icon {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 1px;
    margin: 1px;
  }

  .card-works {
    display: grid;
    grid-gap: 5em;
    background-color: #e5e5e5;
    justify-content: center;
  }

  .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #fff;
    border: 2px solid #a7aeff;
    border-radius: 24px;
    width: 75vw;
    height: 58vh;
    gap: 2em;
  }

  .card1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background: #fff;
    border: 2px solid #a7aeff;
    border-radius: 24px;
    width: 75vw;
    height: 58vh;
    gap: -1em;
  }

  .card-image {
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: 100% 78%;
    margin-left: 10px;
    margin-top: 20px;
    width: 580px;
    height: 500px;
    overflow: hidden;
    object-fit: cover;
  }

  .card-image1 {
    background-image: url("../image/Snap3.png");
  }

  .card-image2 {
    background-image: url("../image/Snap2.png");
    margin-right: 30px;
  }

  .card-image3 {
    background-image: url("../image/Snap1.png");
  }

  .card-image4 {
    background-image: url("../image/Snap4.png");
    margin-right: 30px;
  }

  .card-content {
    padding-right: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 544px;
    height: 465px;
    margin-top: -12em;
  }

  .card-content1 {
    margin-left: 26px;
  }

  .card-header {
    color: #1b1a1a;
    margin-top: 240px;
    font-weight: 900;
  }

  .card-content ul {
    margin-left: -2.4em;
    display: flex;
    flex-direction: row;
  }

  .list li {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #73777e;
    margin-right: 1.2em;
  }

  .canopy {
    width: 75px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .hand-icon {
    width: 4em;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-left: 200px;
    margin-top: -45px;
  }

  #select {
    color: #fff;
    background-color: #6070ff;
    padding: 10px;
  }

  #button1,
  #button2 {
    padding: 10px;
  }

  .fa-circle {
    color: #c1c7d0;
    font-size: 12px;
  }

  .paragraph {
    color: #73777e;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    width: 480px;
    height: 70px;
  }

  .content-paragraph {
    font-size: 16px;
    color: #344563;
  }

  .languages li {
    color: #6070ff;
    margin: 10px 1%;
    padding: 0.8em;
    display: inline-block;
    background-color: #ebebff;
    border: none;
    border-radius: 8px;
    list-style-type: none;
  }

  .language li h3 {
    margin-left: -2em;
  }

  .expertise ul li {
    list-style-type: none;
  }

  .inner-flex-item li a {
    font-size: 12px;
    font-weight: 500;
    color: #6070ff;
    border-radius: 8px;
    text-align: center;
    background: #ebebff;
    padding: 5px 10px;
  }

  .contact-icon li a {
    font-size: 1.5em;
    color: #505f79;
  }

  .btn {
    background: white;
    border: 1px solid;
    border-radius: 8px;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
    width: 120px;
    height: 45px;
  }

  .btn:hover {
    color: white;
    background-color: #6070ff;
  }

  .btn a:hover {
    color: white;
  }


  .underline {
    border: 0.5px solid #bbbdc0;
    top: 20px;
    margin-top: 2em;
    margin-bottom: 1em;
    opacity: 0.4;
  }

  .fa-chevron-down {
    position: relative;
    top: 1.6em;
    left: 1.2em;
  }

  .icon-right {
    display: flex;
    justify-content: flex-end;
    float: right;
  }

  .inner-flex-item {
    display: flex;
    column-gap: 10px;
  }

  .resume {
    border: 1px solid #dfe1e6;
    border-radius: 8px;
    width: 180px;
    height: 50px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.03em;
    color: #396df2;
    background-color: white;
  }

  button:hover {
    background: #8f9afc;
    color: white;
  }

  button:active {
    background: #0416b6;
    color: white;
    box-shadow: 0 8px 16px;
  }

  .about-myself {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 100px 20px 150px;
    border-top-right-radius: 100px;
    height: 680px;
    margin-top: 4em;
  }

  .desk-about {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 80px 10px 100px 120px;
  }

  .expertise {
    display: flex;
    flex-direction: column;
    margin-right: 130px;
    margin-left: 80px;
    width: 500px;
  }

  .desk-programming {
    display: flex;
    flex-direction: row;
  }

  .programming-sec ul li {
    margin-top: 1em;
  }

  .outer-item {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 100px;
    background: #f7f7f9;
    border-radius: 8px;
    margin-right: 1em;
    margin-top: 2px;
    padding: 10px;
  }

  .work-description > p {
    font-size: 18px;
    color: #344563;
    font-weight: lighter;
    font-family: Popins, sans-serif;
    line-height: 28px;
  }

  .outer-item li p {
    color: #253858;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-top: -10px;
  }

  .desk-about h1 {
    color: #091e42;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
  }

  .desk-about li p {
    color: #344563;
    font-size: 16px;
    line-height: 24px;
  }

  p.connect {
    color: #3d4ee4;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .contact-icon {
    margin: 1px;
    margin-left: 1px;
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 1px;
    margin-bottom: 2em;
  }

  .language {
    display: flex;
    text-align: center;
    margin-top: 120px;
    justify-content: space-between;
  }

  .skills {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 20px;
    border-bottom: 1px solid #acb7c3;
  }

  .framework {
    display: flex;
    text-align: center;
    justify-content: space-between;
    border-bottom: 1px solid #acb7c3;
    padding-top: 20px;
  }

  .footer {
    background-image: url("../image/contactbg.png");
    background-color: #6070ff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-top-left-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .contact-content {
    font-family: Poppins, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
  }

  .contact-header {
    margin-bottom: 0;
    margin-top: 5em;
    color: #fff;
    font-size: 2em;
    font-weight: 700;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .contact-paragraph {
    width: 40vw;
    padding-left: 1.2em;
    padding-right: 1.4em;
    margin-bottom: 2em;
    font-size: 20px;
    text-align: center;
    color: #ebebff;
    height: 10vh;
    border-radius: nullpx;
  }

  #user-name,
  #user-email {
    border-radius: 5px;
    width: 34em;
    height: 1.3em;
    padding: 1em;
    border: 0 solid #fff;
  }

  textarea {
    border: 0 solid #fff;
    color: #b3bac5;
    padding: 1em;
    height: 170px;
    width: 447px;
    border-radius: 2px;
  }

  .footer button {
    align-self: center;
    color: #6070ff;
    background-color: #fff;
    padding: 0.8em;
    border-radius: 5px;
    border: 0 solid #fff;
  }

  .footer-img {
    margin-bottom: 0.5em;
    margin-top: 5em;
    margin-left: 10.7em;

  .fa:hover {
    animation-name: size;
    animation-duration: 1.2s;
  }

  @keyframes size {
    0% {
      font-size: 1em;
      color: #396df2;
    }

    50% {
      font-size: 2em;
      color: black;
    }

    100% {
      font-size: 1em;
      color: #396df2;
    }

  }
}
