body {
  background-color: rgb(248, 248, 248);
  font-family: Poppins, sans-serif;
  padding: 0;
  margin: 0;
}

.desk-item {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  box-shadow: 0 0.3rem 2rem rgb(0 0 0 / 10%);
  position: fixed;
  padding: 0 3px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
}

.navbar .logo {
  font-family: Poppins, "Times New Roman", Times, serif;
  color: #6070ff;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.navbar .icon {
  display: none;
}

.navbar .fa-bars {
  color: #6070ff;
  font-size: 16px;
}

nav {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  text-align: center;
  padding: 15px;
  background-color: white;
}

a {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #6070ff;
  text-decoration-line: none;
}

.headline-section {
  background-image: url("../image/header-shapes-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: white;
  display: flex;
  height: 670px;
  flex-direction: column;
  padding: 20px;
  border-bottom-left-radius: 25% 50px;
  margin-bottom: 100px;
}

h1 {
  color: #172b4d;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  padding-top: 30px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect {
  color: #4958e7;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 1px;
  margin: 1px;
}

li a {
  color: #2d3b55;
  margin-left: -42px;
  padding-right: 35px;
}

.social-icon {
  margin-left: 35px;
  display: flex;
}



.card-works {
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
  width: 100;
  align-items: center;
  gap: 30px;

}

.card {
  display: flex;
  width: 90;
  flex-direction: row;
  border: 1px solid rgb(223, 220, 220);
  border-radius: 15px;
  height: 570px;
  background-color: #fff;

}

.card-image {
  padding: 6px;
  width: 20px;
  
}

.card-content {
  width: 280px;
}

.card-header {
  color: #1b1a1a;
  margin-top: 240px;
  font-weight: 900;
}

.list li {
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
  color:#73777e;
}

#canopy{
  color:#0f0f0f;
}

.paragraph {
  color: #73777e;
  line-height: 24px;
  font-size: 16px;
  width: 100;
}


.languages li {
  color: #6070ff;
  margin: 10px 1%;
  padding: 8px;
  display: inline-block;
  background-color: #ebebff;
  border: none;
  border-radius: 8px;
}

.btn {
  background: white;
  border: 1px solid;
  width: 120px;
  height: 45px;
  border-radius: 8px;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.btn:hover {
  color: white;
  background-color: #6070ff;
}


.btn a:hover {
  color: white;
}
