body {
  background-color: rgb(248 248 248);
  font-family: Poppins, sans-serif;
  padding: 0;
  margin: 0;
}

.desk-item {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  box-shadow: 0 0.3rem 2rem rgb(0 0 0 / 10%);
  position: fixed;
  padding: 0 3px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
}

.navbar .logo {
  font-family: Poppins, "Times New Roman", Times, serif;
  color: #6070ff;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.navbar .icon {
  display: none;
}

.navbar .fa-bars {
  color: #6070ff;
  font-size: 16px;
}

nav {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  text-align: center;
  padding: 15px;
  background-color: white;
}

a {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #6070ff;
  text-decoration-line: none;
  opacity: 1;
}

.desktop-item {
  visibility: hidden;
}

.headline-section {
  background-image: url("../image/header-shapes-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: white;
  display: flex;
  height: 670px;
  flex-direction: column;
  padding: 20px;
  border-bottom-left-radius: 25% 50px;
  margin-bottom: 100px;
}

h1 {
  color: #172b4d;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  padding-top: 30px;
}

p {
  font-weight: normal;
  line-height: 24px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 1px;
  margin: 1px;
}

li a {
  color: #2d3b55;
  margin-left: -42px;
  padding-right: 35px;
}

.social-icon {
  margin-left: 35px;
  display: flex;
}

.card-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 7em;
}

.card , .card1{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(223 220 220);
  border-radius: 15px;
  height: 620px;
  width: 90vw;
  background-color: #fff;
}

.card-image {
  border-radius: 8px;
  width: 40vw;
  background-repeat: no-repeat;
  background-size: 90% 105%;
  padding-right: 14em;
  height: 47em;
  margin: 1em;
  padding-top: 15em;
}

.card-image1 {
  background-image: url("../image/Snapshoot1.png");
}

.card-image2 {
  background-image: url("../image/Snapshoot2.png");
}

.card-image3 {
  background-image: url("../image/Snapshoot3.png");
}

.card-image4 {
  background-image: url("../image/Snapshoot4.png");
}

.card-content {
  width: 280px;
  padding-left: 1em;
  position: relative;
  top: -15em;
}

.card-header {
  color: #1b1a1a;
  margin-top: 240px;
  font-weight: 900;
}

.list li {
  display: inline-block;
  font-size: 14px;
  font-weight: bolder;
  color: #73777e;
  margin-right: -2px;
}

.fa-circle {
  color: #c1c7d0;
  font-size: 10px;
  visibility: hidden;
}

#canopy {
  color: #0f0f0f;
}

.paragraph {
  color: #73777e;
  line-height: 24px;
  font-size: 16px;
  width: 100;
}

.content-paragraph {
  font-size: 16px;
}

.languages li {
  color: #6070ff;
  margin-bottom: 15px;
  margin-right: -12px;
  padding: 8px;
  display: inline-block;
  background-color: #ebebff;
  border: none;
  border-radius: 8px;
}

.btn {
  background: white;
  border: 1px solid;
  width: 120px;
  height: 45px;
  border-radius: 8px;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.btn:hover {
  color: white;
  background-color: #6070ff;
}

.btn a:hover {
  color: white;
}

.about {
  width: 380px;
  background-color: #fff;
  padding: 100px 20px;
}

.about h1 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  color: #344563;
}

.about p {
  padding: 10px 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #344563;
}

.connect {
  font-family: Poppins, "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #4958e7;
}

.about .main-icons ul {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  width: 180px;
}

.about .main-icons ul li a {
  font-size: 22px;
  color: var(--neutral-icons);
}

button {
  display: block;
}

.about button {
  margin-bottom: 35px;
  text-transform: none;
}

.about .main-skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  cursor: pointer;
}

.about .main-skill i {
  font-size: 20px;
  margin-right: 30px;
}

.form h2 {
  padding-top: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin: 0;
}

.underline {
  border: 0.5px solid #bbbdc0;
  top: 20px;
}

.about .main-skill h2 {
  font-size: 20px;
  line-height: 24px;
  color: #000;
  font-weight: 500;
}

.about .underline {
  border-bottom: 1px solid rgb(189 185 185);
  width: 100%;
  padding: 22px 0;
}

.about .skill {
  width: 95%;
  display: flex;
  align-items: center;
  background-color: #344563;
  margin: 8px 0;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.about .js {
  margin-top: 33px;
}

.about .css {
  margin-bottom: 33px;
}

.about .html {
  margin: 12px 0;
}

.about .skill img {
  width: 45px;
}

.about .skill h4 {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: #344563;
  margin-left: 10px;
}

.about-myself {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 10px;
  border-top-right-radius: 25% 50px;
  padding-bottom: 4em;
}

.contact-icon {
  margin-left: 45px;
  padding-bottom: 20px;
}

.about-myself button {
  border-radius: 8px;
  border: 1px solid #3d4ee4;
  width: 170px;
  height: 50px;
  text-align: center;
  padding: 10px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: white;
  margin-bottom: 20px;
}

.flex-item6 button {
  border-radius: 8px;
  border: 1px solid #3d4ee4;
  width: 140px;
  height: 50px;
  text-align: center;
  padding: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: white;
  margin-top: 30px;
}

.fa-chevron-down {
  position: relative;
  top: 32px;
  left: 220px;
}

.canopy {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.ruby {
  visibility: hidden;
  width: 0;
  height: 0;
}

.hand-icon {
  visibility: hidden;
}

.inner-list {
  display: flex;
  flex-direction: column;
}

.programming-sec {
  background-color: #f7f7f9;
  border-radius: 10px;
  padding: 4px;
  margin-top: 10px;
}

.icon-right {
  display: flex;
  justify-content: flex-end;
  float: right;
}

.content-sec {
  margin-top: 20px;
  padding-bottom: 30px;
}

.footer {
  background-image: url("../image/Contact_me.png");
  color: #fff;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.contact-content {
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}

.contact-header {
  margin-bottom: 0;
  margin-top: 5em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.contact-paragraph {
  width: 65%;
  padding-left: 1.2em;
  padding-right: 1.2em;
  margin-bottom: 2em;
}

#user-name {
  border-radius: 5px;
  width: 20em;
  height: 1.3em;
  padding: 1em;
  border: 0 solid #fff;
}

#user-email {
  border-radius: 5px;
  width: 20em;
  height: 1.6em;
  padding: 1em;
  border: 0 solid #fff;
}

textarea {
  border-radius: 5px;
  border: 0 solid #fff;
  width: 20em;
  height: 13em;
  color: #b3bac5;
  padding: 1em;
}

.footer button {
  align-self: flex-start;
  color: #6070ff;
  background-color: #fff;
  padding: 0.8em;
  border-radius: 5px;
  border: 0 solid #fff;
}

.footer-img {
  margin-bottom: 0.5em;
  margin-top: 5em;
  margin-left: 4em;
}
